<table>
  <tr>
    <th>Value</th>
    <th>Name</th>
    <th>Url</th>
    <th>Message</th>
  </tr>

<% for brick in @bricks %>
  <tr>
    <td><% if brick.show_value? %>&pound;<%=h brick.value_in_pounds %><% end %></td>
    <td><%= link_to h(brick.display_name), brick %></td>
    <td><%= link_to brick.url, brick.url unless brick.url.blank? %></td>
    <td><%=h brick.message %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @bricks %>
