<% @title = 'New brick' %>

<div id="steps">
  <h2>Step 2 of 4</h2>
</div>
<%= render :partial => '/shared/progress' %>

<div id="body">
  £<%= @brick.value %>
  <p><%=h @brick.message %></p>
  
  <hr>
  <h3>Your details</h3>

  <% form_tag GATEWAY.url do %>
    <% GATEWAY.form_fields(@brick, successful_payment_url, failed_payment_url).each do |key,value| %>
      <%= hidden_field_tag key, value %>
    <% end %>
    <%= submit_tag('Go to payment') %>
  <% end %>

  <%= link_to 'Cancel', root_path %>
</div>