<% content_for :head do %>
  <% @title = "Confirm" %>
  <%= stylesheet_link_tag 'bricks' %>
<% end %>

<div id="sidebar" class="col_util">
  <%= render :partial => 'progress', :locals => { :step => 3 } %>
  <div class="vblock">
    <h3 class="velement">Your Brick</h3>
    <%= brick_image_tag(@brick.value_in_pounds) %>
  </div>
</div>

<div id="content" class="col_wide">
  <div class="panel">
    <p>
      <h3><%= image_tag("/images/bricks/icons/#{@brick.icon_id}.jpg") %><%= @brick.first_name %> <%= @brick.last_name %></h3>
      <% if @brick.show_value %> has donated £<%= @brick.value_in_pounds %> to the wall: <% end %>
    </p>
    <p><%=h @brick.message %></p>
  </div>
  
  <% if admin? %>
  <div id="personal_details">
  <% form_for(@payment_notification) do |f| %>
    <%= f.hidden_field :status %>
    <%= f.hidden_field :brick_id %>
    
    <p><%= f.label :notes %><br />
    <%= f.text_field :params %>

    <%= submit_tag('Confirm brick') %>
  <% end %>
  </div>
  <% else %>
  <div id="personal_details">
    <% form_tag GATEWAY.url do %>
      <% GATEWAY.form_fields(@brick, success_payment_notifications_url, failed_payment_notifications_url).each do |key,value| %>
        <%= hidden_field_tag key, value %>
      <% end %>
      <%= submit_tag('Go to payment') %>
    <% end %>
    
    <%= link_to 'Cancel', root_path %>
  </div>
  <% end %>
</div>