<% content_for :head do %>
  <% @title = "Confirm" %>
  <%= stylesheet_link_tag 'bricks' %>
<% end %>

<div id="sidebar" class="col_util">
  <%= render :partial => 'progress', :locals => { :step => 3 } %>
  <div class="vblock">
    <h3 class="velement">Preview the brick</h3>
    <p>This is how the brick will be displayed on the Child's i Foundation wall.</p>
    <p>If you would like to make any changes click back in your browser.</p>
  </div>
</div>

<% #FIXME: %>

<div id="content" class="col_wide">
  <div class="panel">
    <p>
      <span>This brick belongs to</span>
      <h3><%= image_tag("/images/bricks/icons/#{@brick.icon_id}.jpg") %><%= @brick.display_name %></h3>
      <% if @brick.show_value %> Donation £<%= @brick.value_in_pounds %><% end %>
    </p>
    <p><%=h @brick.message %></p>
  </div>
  
  <% if admin? %>
  <div id="personal_details">
  <% form_for(@payment_notification) do |f| %>
    <%= f.hidden_field :status %>
    <%= f.hidden_field :brick_id %>
    
    <p><%= f.label :notes %><br />
    <%= f.text_field :params %>

    <%= submit_tag('Confirm brick') %>
  <% end %>
  </div>
  <% else %>
  <div id="personal_details">
    <% form_tag GATEWAY.url do %>
      <% GATEWAY.form_fields(@brick, success_payment_notifications_url, failed_payment_notifications_url).each do |key,value| %>
        <%= hidden_field_tag key, value %>
      <% end %>
      <%= submit_tag('Go to payment') %>
      
      <p>Child's I Foundation (Registered Charity No. 1126212) wants to ensure that your donation is used most effectively and therefore your donation will be applied by the charity for its general charitable purposes.</p>
    <% end %>
    
  </div>
  <% end %>
</div>