<% content_for :head do %>
  <% @title = "New brick" %>
  <%= stylesheet_link_tag 'bricks' %>
<% end %>

<%= render :partial => 'progress', :locals => { :step => 1 } %>
<% form_for(@brick) do |f| %>
  <div class="panel">
    <h1>Step 1 of 4</h1>
    <%= brick_image_tag(@brick.value_in_pounds) %>
  </div>
  
  <fieldset id="brick_details">
    <div class="panel">
      <div id="value">
      <%= f.label :value_in_pounds, "£" %><%= f.text_field :value_in_pounds, :size => 5 %>
      <%= f.error_message_on(:value_in_pounds) %>
      </div>
      <%= f.label :message, "Add message here (140 characters limit)" %><br />
      <%= f.text_area :message, :rows => 6 %>
    </div>
  </fieldset>
  
  <div class="panel">
    <dl id="brick_instructions">
      <dt>Over £10</dt>
      <dd>Payment over £10 pounds will allow you to choose a colour for your brick.</dd>
      <dt>Over £20</dt>
      <dd>...</dd>
    </dl>
  </div>
  
  <fieldset id="personal_details">
    <div>
      <h3>Personal details</h3>
      <p>
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
      </p>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :url, "Website" %><br />
        <%= f.text_field :url %>
      </p>
      <p>
        <%= f.label :twitter, "Twitter username" %><br />
        <%= f.text_field :twitter %>
      </p>
      <p>
        <%= f.label :show_value, "Show amount?" %><br />
        <%= f.check_box :show_value %>
      </p>
    </div>
    <div>
      <h3>Form Help</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </fieldset>
  
  <p>
    <%= f.submit "Continue" %>
  </p>
<% end %>
