<% content_for :head do %>
  <% @title = "New brick" %>
  <%= stylesheet_link_tag 'bricks' %>
<% end %>

<%= render :partial => 'progress', :locals => { :step => 1 } %>

<% form_for(@brick) do |f| %>
  <fieldset id="brick_details">
    <div class="panel">
      <%= f.error_message_on(:value_in_pounds) %>
      <div id="value">
      <%= f.label :value_in_pounds, "£" %><%= f.text_field :value_in_pounds, :size => 5 %>
      </div>
    </div>
    <div class="panel">
      <%= f.label :message, "Add a message" %><br />
      <%= f.text_area :message, :rows => 4 %>
    </div>
  </fieldset>
  
  <fieldset id="personal_details">
    <div>
      <h3>Personal details</h3>
      <p>
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
      </p>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :url, "Website" %><br />
        <%= f.text_field :url %>
      </p>
      <p>
        <%= f.label :show_value, "Show amount?" %><br />
        <%= f.check_box :show_value %>
      </p>
    </div>
    <div>
      <h3>Form Help</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </fieldset>
  
  <p>
    <%= f.submit "Continue" %>
  </p>
<% end %>
