<% content_for :head do %>
  <% @title = "New brick" %>
  <%= stylesheet_link_tag 'bricks' %>
<% end %>

<div>
  <% form_for(@brick) do |f| %>
  <div id="sidebar" class="col_util">
    <%= render :partial => 'bricks/progress', :locals => { :step => 2 } %>
    <div class="vblock">
      <h3 class="velement">Customise the brick</h3>
      
      <div>
        <p>Please write a message to display on our wall. Dedicate it to a friend, a loved one, to yourself or
          give Child's i Foundation some love!</p>
      </div>
    </div>
  </div>

  <div id="content" class="col_wide">
    <fieldset id="brick_details">
      <h4>Brick details</h4>
      
      <div>
        <%= f.label :display_name, "This brick belongs to" %>
        <%= f.text_field :display_name %>
      </div>
      <div>
        <%= f.label :message, "Brick message (140 characters limit)" %>
        <%= f.text_area :message, :rows => 3 %>
      </div>
      
      <%= f.hidden_field :value_in_pounds %>
      
      <div>
        <%= f.label :show_value, "You've chosen to donate £#{@brick.value_in_pounds}, do you want to make this amount to be displayed on the brick?", :id => "brick_show_value" %>
        <%= f.check_box :show_value %>
      </div>
      <div>
        <%= f.label :twitter, "Twitter username so #{ link_to('@buyabrick', "http://twitter.com/buyabrick") } can tweet about it" %>
        <%= f.text_field :twitter %>
      </div>
    </fieldset>
          
    <fieldset id="icon_picker">
      <p>Glam up the brick with a pretty icon:</p>
      <ul>
      <% for i in 1..6 %>
        <li>
          <div><%= image_tag("/images/bricks/icons/#{i}.jpg") %></div>
          <%= f.radio_button(:icon_id, i) %>
        </li>
      <% end %>
      </ul>
    </fieldset>
          
    <fieldset id="colour_picker">
      <p>Choose your Ugandan clay brick colour:</p>
      <ul>
      <% for i in 'a'..'f' %>
        <li>
          <div class="<%= "custom_#{i}" %>">&nbsp;</div>
          <%= f.radio_button(:colour, "custom_#{i}") %>
        </li>
      <% end %>
      </ul>
    </fieldset>
    
    <fieldset>
      <h4>Purchaser details</h4>
      <fieldset id="brick_name">
        <div>
          <%= f.label :first_name, 'Name' %>
          <%= f.text_field :first_name %>
        </div>
        <div>
          <%= f.label :last_name, 'Surname' %>
          <%= f.text_field :last_name %>
        </div>
      </fieldset>
      
      <div>
        <%= f.label :email, "Your email address (for payment confirmation)" %>
        <%= f.text_field :email %>
      </div>
    </fieldset>
    
    <div>
      <%= f.submit "Continue" %>
    </div>
  </div>
  <% end %>
</div>
