<% content_for :head do %>
  <% @title = "New brick" %>
  <%= stylesheet_link_tag 'bricks' %>
<% end %>

<div>
  <% form_for(@brick) do |f| %>
  <div id="sidebar" class="col col_rpad">
    <div class="vblock">
      <img src="/images/assets/buyabrick.jpg" alt="buy a brick" class="velement" />
      <%= render :partial => 'bricks/progress', :locals => { :step => 2 } %>
      <h4>Personalize the brick</h4>
      
      <div>
        <p>Please write a message to display on our wall. Dedicate it to a friend, a loved one, to yourself or
          give Child's i Foundation some love!</p>
        <p><a href="/">&larr; back to the wall</a></p>
      </div>
    </div>
  </div>

  <div id="content" class="col_copy">
    <fieldset id="brick_details">
      <h4>Enter the brick&#8217;s details</h4>
      
      <div class="vblock">
        <%= f.label :display_name, "This brick belongs to" %>
        <%= f.text_field :display_name %><%= f.error_message_on(:display_name, :prepend_text => "This ") %>
      </div>
      <div class="vblock">
        <%= f.label :message, "Brick message (140 characters limit)" %>
        <%= f.text_area :message, :rows => 3 %>
      </div>
      
      <div class="vblock">
        <p>You've chosen to donate:</p>
        <p><%= f.text_field :value_in_pounds, :size=>5 %><%= f.error_message_on(:value_in_pounds) %></p>
        
        <p><%= f.check_box :show_value %>Display the amount on the brick?</p>
        <p>You&#8217;ll get the option to add Gift Aid on the payment screen</p>
        
        </p>
      </div>
      
      <div class="vblock">
        <%= f.label :twitter, "Enter your Twitter username so #{ link_to('@buyabrick', "http://twitter.com/#{TWITTER_USERNAME}") } can tweet about it" %>
        <%= f.text_field :twitter %>
      </div>
    </fieldset>
          
    <fieldset id="icon_picker" class="vblock">
      <p>Glam up the brick with a pretty icon:</p>
      <ul>
      <% for i in 1..6 %>
        <li>
          <div><%= image_tag("/images/bricks/icons/#{i}.jpg") %></div>
          <%= f.radio_button(:icon_id, i) %>
        </li>
      <% end %>
      </ul>
    </fieldset>
          
    <fieldset id="colour_picker" class="vblock">
      <p>Choose your Ugandan clay brick colour:</p>
      <ul>
      <% for i in 'a'..'f' %>
        <li>
          <div class="<%= "custom_#{i}" %>">&nbsp;</div>
          <%= f.radio_button(:colour, "custom_#{i}") %>
        </li>
      <% end %>
      </ul>
    </fieldset>
    
    <fieldset>
      <h4>Purchaser details</h4>
      <fieldset id="brick_name">
        <div>
          <%= f.label :first_name, 'Name' %>
          <%= f.text_field :first_name %>
          <%= f.error_message_on(:first_name, :prepend_text => 'This ') %>
        </div>
        <div>
          <%= f.label :last_name, 'Surname' %>
          <%= f.text_field :last_name %>
          <%= f.error_message_on(:last_name, :prepend_text => 'This ') %>
        </div>
      </fieldset>
      
      <div>
        <%= f.label :email, "Your email address (for payment confirmation)" %>
        <%= f.text_field :email %>
      </div>
    </fieldset>
    
    <div>
      <%= f.submit "Continue" %>
    </div>
  </div>
  <% end %>
</div>
