<% content_for :head do %>
  <% @title = "#{@brick.display_name}'s brick" %>
<% end %>

<h1><%=h @brick.display_name %>'s brick</h1>

<% if @brick.show_value? %>
<p>
  <b>Value:</b>
  £<%=h @brick.value_in_pounds %>
</p>
<% end %>

<% unless @brick.url.blank? %>
<p>
  <b>Homepage:</b>
  <%= link_to(@brick.url, @brick.url) %>
</p>
<% end %>

<p>
  <b>Message:</b>
  <%=h @brick.message %>
</p>

<% if admin? %>
  <%= link_to 'Edit', edit_brick_path(@brick) %> |
<% end %>
<%= link_to 'Back', root_path %>
