<% content_for :head do %>
  <% @title = "Thanks!" %>
  <%= stylesheet_link_tag 'bricks' %>
  <%= javascript_include_tag 'swfobject' %> 
  
  <script type="text/javascript">
  swfobject.embedSWF("http://www.childsifoundation.org/files/buyabrick/wall.swf", "wall", "800", "444", "9.0.0", "", { path: "/wall.xml", config: "xml/config.xml", linkBrick: "<%= @brick.url_key %>", isThanks: true }, {allowscriptaccess:"always"});
  </script>
  
  	<style>
  #brick_select li {
  	float: left;
  	margin-right: 15px;
  	list-style: none;
  }
  </style>
<% end %>

		<div id="content">
			<ul id="page">
				<li class="the_post" id="post-2196">
	
	<div class="postcontent">
<div class="vblock">

<div id="wall">
  <%= render :partial => 'brick' %>
</div>

</div>
<div id="sidebar" class="col col_half col_rpad">
  <div class="vstandout statement">
    <h3>Thank You!</h3>
    <p>Your donation is helping us to build our home in Uganda.</p>
  </div>
</div>

<div class="col col_half">
  <ul class="ciflist">
    <li><a href="">Find out more</a> about how your money will be spent.</li>
    <li>We need to raise &pound;150,000 for Phase One, and every penny helps.</li>
    <li><a class="a2a_dd" href="http://www.addtoany.com/share_save?linkname=Child%27s%20i%20Foundation%20-%20Buy%20a%20Brick&amp;linkurl=<%= CGI.escape brick_url(@brick) %>">Share your brick with your friends</a> and persuade them to add to our wall<script type="text/javascript">a2a_linkname="Child's i Foundation - Buy a Brick";a2a_linkurl="<%= brick_url(@brick) %>";a2a_hide_embeds=0;</script><script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script></li>
  </ul>
</div>


<div class="clear"></div>
<div class="col col_half col_rpad" style="margin-top: 40px;">
<div class="vblock">
<h4>Philip Glenister Nicks a Brick</h4>
<div class="velement"><img src="/images/assets/pg.jpg" alt="Philip Glenister" /></div>
<p>Leave it out, Marjorie. Philip Glenister, famous for playing Gene Huntley in Ashes to Ashes, has got the concept a little bit wrong. See how he thought he could support us in this exclusive video.</p>
<p><a href="http://www.childsifoundation.org/give/buyabrick/pg.html">Watch the video.</a></p></div>
</div>
<div class="col col_half col_rpad" style="margin-top: 40px;">
<div class="vblock">
<h4>How the wall helps</h4>
<div class="velement"><img src="/images/assets/freddy.jpg" alt="How it helps" /></div>
<p>Lipsum cheesy donkey meat is tasty longtime on pizzas with a windy extra face on fortitude. Whether the second dash between fire trees is welcomed, or jovially helped, we shall doubt for time to come.</p>
<p><a href="http://www.childsifoundation.org/give/buyabrick/explain.html">How the wall works</a></p>
</div>
</div>
	</div>
	
</li>				
			</ul>
		</div>
				
		
		
		
		<div class="clear"></div>
		<!-- {$smarty.capture.subcontent} -->
				
