<% @title = "Child's i Foundation" %>

<div id="wall">
  <%= render :partial => '/shared/wall', :locals => { :wall => @wall } %>
</div>

<div>
  <h2>You can be part</h2>
  <h3>Select your brick:</h3>
  <ul>
    <li><%= link_to('£5',  brick_new_with_value_path('5.00')) %></li>
    <li><%= link_to('£10', brick_new_with_value_path('10.00')) %></li>
    <li><%= link_to('£20', brick_new_with_value_path('20.00')) %></li>
    <li><%= link_to('£50', brick_new_with_value_path('50.00')) %></li>
  </ul>
</div>  
