<table>
  <tr>
    <th>ID</th>
    <th>Value</th>
    <th>Purchased at</th>
    <th>Display Name</th>
    <th>Message</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>Subscribe?</th>
    <th>Generous?</th>
    <th>Seasonal?</th>
  </tr>

<% for brick in @bricks %>
  <tr>
    <td><%= brick.id %></td>
    <td>£<%=h brick.value_in_pounds %></td>
    <td><%= brick.purchased_at %></td>
    <td><%= link_to h(brick.display_name), brick %></td>
    <td><%=h brick.message %></td>
    <td><%=h brick.first_name %></td>
    <td><%=h brick.last_name %></td>
    <td><%=h brick.email %></td>
    <td><%=h brick.telephone %></td>
    <td><%=h brick.subscribe %></td>
    <td><%=h brick.generous? %></td>
    <td><%=h brick.seasonal? %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @bricks if @bricks.respond_to? :total_pages %>
